@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100;0,400;0,500;1,400&display=swap');

.inputBox{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}
.inputBox_field{
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: wheat;
    padding-top: 0;
    padding-bottom: 50px;
    margin: 20px;
}

.inputBox_field h1{
    
    font-family: 'Alata', sans-serif;
font-family: 'Montserrat', sans-serif;
margin-top: 10px;
}
.inputBox_field img{
    width: 15%;
    padding-bottom: 40px;
    padding-top: 20px;
}

.inputBox_field form  button{
    margin-top: 30px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
}